<div id="search-component">
  <label for="search-box">Birds Search</label>
  <input #searchBox id="search-box" />
  <button type="button" (click)="search(searchBox.value)">search</button>

  <div class="search-result" *ngIf="bird">
    <a routerLink="/detail/{{bird.id}}">
      {{bird.portugueseName}}
    </a>
  </div>
</div>



