

<h2>List of Birds</h2>

<div *ngFor="let bird of birds">

  <h3>
    <a
    [title]="bird.portugueseName + ' details'"
    [routerLink]="['/detail', bird.id]">
      {{ bird.portugueseName }}
    </a>
  </h3>

  <img [src]="bird.image" [alt]="bird.portugueseName" width="100" height="150">

  <p *ngIf="bird.scientificName">
    {{ bird.scientificName }}
  </p>


</div>


