<h2>Bird Details</h2>

<div *ngIf="bird">
  <h3>{{ bird.portugueseName }}</h3>
  <h4>English Name: {{ bird.englishName }}</h4>
  <h4>Scientific Name: {{ bird.scientificName }}</h4>
  <h4>Predominant Color: {{ bird.predominantColor }}</h4>
  <h4>Family: {{ bird.family }}</h4>
  <h4>Size: {{ bird.size }} cm</h4>
  <h4>Habitat: {{ bird.habitat }}</h4>
  <h4>Genus: {{ bird.genus }}</h4>
  <img [src]="bird.image" [alt]="bird.portugueseName" width="200" height="300">
  <p></p>

</div>

<div>
  <h4>
    <a [routerLink]="[]">
      <button type="button">Avistei</button>
    </a>
  </h4>
</div>

<div *ngFor="let sighting of sightings">
  <h4>{{sighting.date}}</h4>
  <h4>{{sighting.time}}</h4>
  <h4>{{sighting.location}}</h4>
  <h4>{{sighting.description}}</h4>
  <hr>
</div>
